:root {
	--incomingBg: #ecdcdc;
	--requestBg: #98a7ac;
	--requestContainerBg: #161724;
}

.requests-body {
	height: 90vh;
	width: 100vw;
}

.requests-container {
	height: 90vh;
	width: 75vw;
	background-color: var(--requestContainerBg);
	float: left;
	overflow-y: scroll;
}

.incoming-req-acc {
	min-height: 8vh;
	width: 28vw;
	border-radius: 5px;
	margin-top: 4vh;
	margin-left: 5vh;
	padding: 1%;
}

.incoming-req-card {
	margin-bottom: 6%;
	border-radius: 5px !important;
	background-color: var(--incomingBg) !important;
}

.outgoing-req-acc {
	min-height: 8vh;
	width: 28vw;
	border-radius: 5px;
	margin-top: 4vh;
	margin-left: 5vh;
	padding: 1%;
}

.outgoing-req-card {
	margin-bottom: 6%;
	border-radius: 5px !important;
	/* background-color: var(--incomingBg) !important; */
}

.req-title {
	color: black;
	font-weight: bolder;
}

.req-message {
	color: rgb(8, 8, 8);
}

.req-sender {
	font-size: 12px;
	color: dimgrey;
}

.req-acceptor {
	font-size: 12px;
	color: dimgrey;
	text-transform: capitalize;
}

.req-timestamp {
	font-size: 12px;
	color: dimgrey;
	margin-bottom: 0;
	/* margin-left: 68%; */
}

.incoming-req-container {
	overflow-y: scroll;
	float: left;
	height: 90vh;
	width: 37vw;
	padding: 2%;
}

/* .incoming-req-acc {
	width: 30vw;
	margin-left: 2%;
} */

.outgoing-req-container {
	overflow-y: scroll;
	float: right;
	height: 90vh;
	width: 36vw;
	padding: 2%;
	/* background-color: cornflowerblue; */
}

.req-heading {
	color: white;
	padding-top: 2vh;
	margin-left: 3vw;
}

.fulfill-button {
	height: 10%;
	width: 10%;
	/* position: fixed; */
	color: black;
	float: right;
}

.delete-button1 {
	height: 8%;
	width: 8%;
	margin-left: 58%;
	color: #4b4f68;
}
