:root {
	--incomingBg: #ecdcdc;
	--requestBg: #98a7ac;
	--requestContainerBg: #adcad6;
	--chatContainerBg: #0b4047;
	--chatListBackground: #1c6c77;
	--acceptedReqBg: #f8b4c5;
	--pendingReqBg: #f7b32b;
	--fulfilledReqBg: #b5e477;
}

.requests-body {
	height: 90vh;
	width: 100vw;
}

.requests-container {
	height: 90vh;
	width: 75vw;
	background-color: var(--requestContainerBg);
	float: left;
}

.incoming-req-acc {
	min-height: 8vh;
	width: 28vw;
	border-radius: 5px;
	margin-top: 4vh;
	margin-left: 5vh;
	padding: 1%;
}

.incoming-req-card {
	margin-bottom: 6%;
	border-radius: 5px !important;
	/* background-color: var(--acceptedReqBg) !important; */
	transition: background-color 0.5s ease;
	border: 1px solid white !important;
}

.pending-req-container {
	height: 100%;
	overflow-y: scroll;
	width: 100%;
	float: top;
	scrollbar-width: none;
}

.fulfilled-req-container {
	height: min-content;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	/* float: bottom; */
}

.outgoing-req-acc {
	min-height: 8vh;
	width: 28vw;
	border-radius: 5px;
	margin-top: 4vh;
	margin-left: 5vh;
	padding: 1%;
}

.outgoing-req-card {
	margin-bottom: 6%;
	border-radius: 5px !important;
	transition: all 0.5s ease-out;
	/* background-color: var(--incomingBg) !important; */
	border: 1px solid white !important;
}

.req-title {
	color: black;
	font-weight: bolder;
}

.req-message {
	color: rgb(8, 8, 8);
}

.req-sender {
	font-size: 12px;
	color: dimgrey;
}

.req-acceptor {
	font-size: 12px;
	color: dimgrey;
	text-transform: capitalize;
}

.req-timestamp {
	font-size: 12px;
	color: dimgrey;
	margin-bottom: 0;
	/* margin-left: 68%; */
}

.incoming-req-container {
	overflow-y: scroll;
	float: left;
	height: 90vh;
	width: 37vw;
	padding: 2%;
}

.outgoing-req-container {
	overflow-y: hidden;
	float: right;
	height: 90vh;
	width: 36vw;
	padding: 2%;
}

.req-heading {
	color: black;
	padding-top: 2vh;
	margin-left: 3vw;
	font-weight: bolder;
}

.fulfill-button {
	height: 10%;
	width: 10%;
	color: black;
	float: right;
}

.delete-button1 {
	height: 8%;
	width: 8%;
	margin-left: 58%;
	color: #4b4f68;
}

.sticky-div {
	position: sticky;
}

/* @media (max-width: 995px) and (max-height: 1000px) {
	.show {
		z-index: 5 !important;
	}
} */
