.chat-container {
	height: 90vh;
	width: 25vw;
	float: right;
	overflow: scroll;
	background-color: var(--chatContainerBg);
}
.chat-heading {
	color: white;
	padding-top: 5vh;
}

.chat-input {
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: var(--chatListBackground);
}

.chat-input-icon {
	width: 26px;
	height: 26px;
	min-height: min-content;
	min-width: min-content;
	color: white;
}

.chat-List {
	background-color: var(--chatListBackground);
	width: 100%;
}
.chat-List-DM {
	background-color: white;
	width: 100%;
	min-height: 75%;
	max-height: 75%;
}

.chat-List-time {
	font-size: 12px;
	color: black;
	align-content: flex-end;
}

.chat-user {
	background-color: var(--chatListBackground);
	color: white;
	margin-top: 5%;
}

.chat-user::after {
	border-bottom: 2px solid white;
	display: block;
	content: " ";
	margin-left: 12.5%;
	width: 75%;
}

.DM-heading {
	color: white;
	height: 25%;
	background-color: var(--chatListBackground);
}

.DM-userName {
	margin: 0;
}

.DM-avatar {
	margin: 0;
}

.last-message {
	margin-right: auto;
	font-size: 16px;
	text-align: left;
}

.message {
	display: flex;
	align-items: center;
	padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.message p {
	margin-bottom: 0.1rem;
}

.messages {
	overflow-y: scroll;
}

.chat-time {
	padding-top: 0.25rem;
	font-size: 12px;
	color: rgb(36, 36, 36);
	align-content: flex-end;
}

.sent {
	flex-direction: row-reverse;
}

.received p {
	background: #d4d4d6;
	color: black;
	padding: 0.25rem;
	border-radius: 12px 12px 12px 0px;
}

.sent p {
	color: white;
	background: var(--chatListBackground);
	align-self: flex-end;
	padding: 0.25rem;
	border-radius: 12px 12px 0px 12px;
}

.unread {
	font-weight: bold;
}

.file-names {
	color: white;
	margin-left: 0;
}
