.create-post-body {
	height: min-content;
	max-height: max-content;
	width: 50%;
}

.create-post-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	width: 100%;
	background-color: #adcad6;
}

.form-container {
	min-height: min-content;
	max-height: max-content;
	width: 100%;
	padding: 5%;
	border-radius: 10px;
	margin-left: 0;
	background-color: white;
	box-shadow: 3px 3px 8px 0px rgba(82, 82, 82, 1);
}

.submit-button {
	background-color: #f59db3 !important;
	border: 0ch !important;
	color: black !important;
	float: right;
	margin-top: 10%;
}

.submit-button:hover {
	background-color: #37748f !important;
}

.file-input {
	height: 0;
	width: 0;
	opacity: 0;
}
.file-input-label {
	display: block;
	width: 8vh;
	height: 8vh;
	border: 1px solid #f59db3;
	/* background-color: white; */
	border-radius: 50%;
	/* margin-left: 17%; */
	line-height: 30px;
	color: #f59db3;
	font-weight: bold;
	font-size: 40px;
	cursor: pointer;
}
.file-input-label:hover {
	background: #37748f;
	color: white;
	border: 0px;
}

.file-output {
	font-size: 12px;
}
