:root {
	--navbarBg: #0b4047;
	--feedBg: #adcad6;
	--activityBg: #0b4047;
	--createPost: #adcad6;
	--feedContainerBg: #2b4f60;
	--postBg: white;
	--notifBg: #298591;
}

.homepage-body {
	height: 90vh;
	width: 100vw;
	overflow-y: hidden;
	overflow-x: hidden;
}

.homepage-feed {
	height: 70vh;
	width: 100vw;
	background-color: var(--feedBg);
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.create-post-input {
	margin-top: 2vh;
}

.homepage-navbar {
	height: 10vh !important;
	background-color: var(--navbarBg) !important;
}

.scroll {
	/* height: min-content;
	width: min-content; */
	float: right;
	margin-right: 10%;
}

.scrollTop {
	size: 30px;
	position: fixed;
	bottom: 7vh;
	/* margin-left: 21vw; */
	align-items: center;
	justify-content: center;
	/* z-index: 20; */
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 0.7;
	overflow: visible;
	color: #2b4f60;
}

.scrollTop:hover {
	opacity: 1;
	color: #0b4047;
}

/* scroll button */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

/* scrollbar styles */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #4b4f68;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #0b4047;
}

/* Search Bar */

.reset-btn {
	border-radius: 0px 5px 5px 0px !important;
	background-color: #f9c762 !important;
	border: none !important;
	color: black !important;
}

.reset-btn:hover {
	border-radius: 0px 5px 5px 0px !important;
	background-color: #daab4d !important;
	border: none !important;
	color: black !important;
}

.submit-btn {
	border-radius: 0px !important;
	background-color: #f8b4c5 !important;
	border: none !important;
	color: black !important;
}

.submit-btn:hover {
	border-radius: 0px !important;
	background-color: #f594ac !important;
	border: none !important;
	color: black !important;
}

.search-button {
	height: 6vh;
}

.search-category {
	border-radius: 5px 0px 0px 5px !important;
}
.search-group {
	padding-top: 3vh;
	/* padding-left: 5vw; */
	margin-right: 1vw;
}

.search-input {
	width: 10vw !important;
}

.homepage-sticky {
	/* position: sticky; */
	max-height: max-content;
	height: 20vh;
	width: 100vw;
	background-color: var(--createPost);
	overflow-y: hidden;
	overflow-x: hidden;
}

.location-search {
	min-width: 350px;
}

/* Filter styles*/
.filter-div {
	height: min-content;
	/* width: 30vw; */
	border-radius: 5px;
	margin-top: 3vh;
	width: max-content;
	/* margin-left: 5%; */
	/* margin-left: 48vw; */
	/* float: right; */
	display: flex;
}

.filter-div h5,
.filter-div h6 {
	color: black;
}

.filter-div Col {
	padding: 0px !important;
}

.icons {
	margin-top: 3vh;
	height: 4vh;
	float: right;
}

@media (max-width: 995px) and (max-height: 1000px) {
	.homepage-sticky {
		height: 30vh;
	}

	.homepage-feed {
		height: 60vh;
	}
}
