:root {
	/* --navbarBg: #1e2f4d;
	--feedBg: #c8e2e1;
	--activityBg: #ccddef;
	--createPost: #9dc39c;
	--navbarBg: #6fc7e1;
	--postBg: #ccddef; */

	/* --navbarBg: #238aa9;
	--feedBg: #c8e2e1;
	--activityBg: #fde3c8;
	--createPost: #ffa883;
	--feedContainerBg: #2b4f60;
	--postBg: #faf2e8; */

	/* --navbarBg: #4abaaa;
	--feedBg: #c2c9dd;
	/* --feedBg: #151623; 
	--createPost: #474847;
	--activityBg: #212333;
	--feedContainerBg: #2b4f60;
	--postBg: #151623;
	--notifBg: #d8bf95; */

	/* Light blue bg palette */
	/* --navbarBg: #1e2f4d;
	--feedBg: #c8e2e1;
	--activityBg: #fde3c8;
	--createPost: #c4694d;
	--feedContainerBg: #2b4f60;
	--postBg: #faf2e8; */

	/*Dark mode*/
	--navbarBg: #27283f;
	--feedBg: #161724;
	--activityBg: #212333;
	--createPost: #4abaaa;
	--feedContainerBg: #2b4f60;
	--postBg: #faf2e8;
	--notifBg: #d8bf95;

	/*Terracotta*/
	/* --navbarBg: #4abaaa;
	--feedBg: #faf2e8;
	--activityBg: #212333;
	--createPost: #212333;
	--feedContainerBg: #2b4f60;
	--postBg: black;
	--notifBg: #d8bf95; */

	/* Light mode */
	/* --navbarBg: #187894;
	--feedBg: "black";
	--activityBg: "black";
	--createPost: #f7786b;
	--feedContainerBg: #2b4f60;
	--postBg: #faf2e8;
	--notifBg: #632a67; */

	/* Cool dream 
	--navbarBg: #2b4f60;
	--feedBg: #bdc7c9;
	--activityBg: #9dacaf;
	--createPost: #474847;
	--postBg: #ead3cb;
	--notifBg: #845460; */
}

.homepage-body {
	height: 90vh;
	width: 100vw;
	overflow-y: hidden;
	overflow-x: hidden;
}

.homepage-feed {
	height: 90vh;
	width: 100vw;
	background-color: var(--feedBg);
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

.create-post-input {
	margin-top: 2vh;
}

.homepage-navbar {
	height: 10vh !important;
	background-color: var(--navbarBg) !important;
}

.scroll {
	/* height: min-content;
	width: min-content; */
	float: right;
	margin-right: 10%;
}

.scrollTop {
	size: 30px;
	position: fixed;
	bottom: 7vh;
	/* margin-left: 21vw; */
	align-items: center;
	justify-content: center;
	/* z-index: 20; */
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 0.7;
	overflow: visible;
	color: #2b4f60;
}

.scrollTop:hover {
	opacity: 1;
	color: #4abaaa;
}

/* scroll button */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

/* scrollbar styles */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #4b4f68;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #4abaaa;
}

/* Search Bar */

.reset-btn {
	border-radius: 0px 5px 5px 0px !important;
}

.submit-btn {
	border-radius: 0px !important;
}

.search-button {
	height: 6vh;
}

.search-group {
	padding-top: 2vh;
	/* padding-left: 5vw; */
	margin-right: 1vw;
}

.search-input {
	width: 10vw !important;
}

.homepage-sticky {
	position: sticky;
	height: 20vh;
	width: 100vw;
	background-color: #4abaaa;
	overflow-y: hidden;
	overflow-x: hidden;
}
