.feed-container {
	width: 65vw;
	border-radius: 5px;
	margin-left: 5vw;
	margin-top: 3vh;
}

.post-container {
	padding: 2%;
}

.feed-post {
	border-radius: 5px;
	margin: 3%;
	background-color: var(--postBg);
	/* box-shadow: 5px 5px #79797971; */
}
