.feed-container {
	width: 65vw;
	border-radius: 5px;
	margin: auto;
	margin-top: 3vh;
}

.post-container {
	padding: 2%;
}

.feed-post {
	border-radius: 5px;
	margin: 3%;
	background-color: var(--postBg);
	/* box-shadow: 5px 5px #79797971; */
}

.text-left {
	margin-right: auto;
}

.feed-timestamp {
	font-size: 12px;
	color: dimgrey;
}

.delete-button {
	height: 4%;
	width: 4%;
	color: #4b4f68;
}

.accept-button {
	height: 4%;
	width: 4%;
	color: #4abaaa;
}

.image-grid {
	/* margin: 20px auto; */
	display: grid;
	grid-template-columns: min-content min-content min-content;
	overflow: hidden;
}

.no-results {
	margin-top: 10%;
	height: min-content;
	/* width: min-content; */
	margin-left: 38%;
	overflow: hidden;
}

.results-gif {
	align-self: center;
	height: 40vh !important;
	width: 50vw !important;
}
