.brand-name {
	color: #f5c265;
	font-weight: bold;
}

.chat {
	height: 5vh;
	margin-left: 2vw;
}

.chat-icon {
	margin-left: 2vw;
	color: white;
}

.chat-icon:hover {
	margin-left: 2vw;
	color: #298591 !important;
}

.create-post {
	height: 5vh;
	margin-left: 12vw;
}

.edit-profile {
	padding-top: 20%;
}

.geosuggest__item--active {
	background: #267dc0;
	color: #fff;
}

.geosuggest__suggests--hidden {
	max-height: 0;
	overflow: hidden;
	border-width: 0;
}

.icons {
	margin-left: 1vw;
}

.navbar-profile {
	margin-right: 1vw;
	margin-left: 3vw;
}

.notifications {
	margin-right: 2vw;
	color: white !important;
}
.notifications:hover {
	margin-right: 2vw;
	color: #298591 !important;
}

.create-post-icon {
	color: white !important;
}

.create-post-icon:hover {
	color: #298591 !important;
}

.logout-link {
	background-color: white;
}

.logout-link:hover {
	background-color: #298591;
}
