.brand-name {
	color: #f5c265;
	font-weight: bold;
}

.chat {
	height: 5vh;
	margin-left: 2vw;
}

.chat-icon {
	margin-left: 2vw;
}

.create-post {
	height: 5vh;
	margin-left: 12vw;
}

.edit-profile {
	padding-top: 20%;
}

.geosuggest__item--active {
	background: #267dc0;
	color: #fff;
}

.geosuggest__suggests--hidden {
	max-height: 0;
	overflow: hidden;
	border-width: 0;
}

.icons {
	margin-left: 1vw;
}

.navbar-profile {
	margin-right: 1vw;
	margin-left: 3vw;
}

.search-button {
	height: 6vh;
}

.search-group {
	padding-top: 2vh;
	/* padding-left: 5vw; */
	margin-right: 7vw;
}

.search-input {
	width: 10vw !important;
}
