.activity-heading {
	color: white;
	padding-top: 5vh;
	text-align: center;
	width: 100%;
}

.homepage-activity {
	height: 90vh;
	width: 25vw;
	background-color: var(--activityBg);
	overflow-y: scroll;
}

.activity-notif {
	min-height: 10vh;
	width: 20vw;
	border-radius: 5px;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--notifBg);
	padding: 2%;
}

.notif-message {
	color: rgb(0, 0, 0);
}

.notif-timestamp {
	font-size: 12px;
	color: dimgrey;
	margin-bottom: 0;
	margin-left: 55%;
}

/* Position and sizing of burger button */
.bm-burger-button {
	display: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}
