.filter-div {
	height: 5vh;
	width: 30vw;
	border-radius: 5px;
	margin-top: 5vh;
	margin-left: 48vw;
	display: flex;
}

.filter-div h5,
.filter-div h6 {
	color: white;
}

.filter-div Col {
	padding: 0px !important;
}
