.filter-div {
	height: 5vh;
	width: 30vw;
	border-radius: 5px;
	margin-top: 5vh;
	margin-left: 39vw;
	display: flex;
}

h6 {
	color: white;
}

#filter {
	color: blueviolet;
}

Col {
	padding: 0px !important;
}
